.position-list{
  margin: 0;
  padding: 0;
  .item{
    list-style: none;
    padding:5px;
    border-bottom:1px solid @lineColor;
    .title{
      margin: 0;
      .salary{
        .fs(16);
        font-weight:lighter;
        color:#feae11;
      }
    }
    .logo{
      .w(80);
      .h(80);
      margin-right: 10px;
    }
    .text{
      margin: 5px 0;
      color:#999;
      span{
        .fs(14);
      }
      .fa{
        font-size: 24px;
        color:gold;
        margin:8px 15px;
      }
    }
  }
}