<h1 class="page-header">正在热映</h1>
<h2 ng-if="message">{{message}}</h2>
<ul class="list-group">
	<li ng-repeat="item in subjects" class="list-group-item">
		<span class="badge">{{item.rating.average}}</span>
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" ng-src={{item.images.medium}} alt={{item.title}}>
				</a>
			</div>
			<div class="media-body">
				<h3 class="media-heading">{{item.title}}</h3>
				<p>导演：
					<span ng-repeat="daoyan in item.directors">{{daoyan.name}}
						<i ng-if="!$last">、</i>
					</span>
				</p>
				<p>类型：<span>{{item.genres.join('、')}}</span></p>
				<p>主演：
					<span ng-repeat="zhuyao in item.casts">{{zhuyao.name}}
						<i ng-if="!$last">、</i>
					</span>
				</p>
				<p>上映年份：{{item.year}}</p>
			</div>
		</div>
	</li>
</ul>
