<ul class="position-list">
    <li ui-sref="position({id:item.id})" class="item bg-w clearfix" ng-repeat="item in data|filterByObj:filterObj">
        <img ng-src="{{item.imageUrl}}" alt="" class="logo f-l">
        <h3 class="title">
            <span ng-bind="item.job"></span>
            <span  class="f-r mr-10 salary"  ng-bind=item.salaryName></span>
        </h3>
        <p class="text">
        	<span>{{item.companyName}}</span>
        	<span>|</span>
        	<span>{{item.cityName}}</span>
            <span>|</span>
            <span>{{item.scaleName}}</span>
            <span ng-if="name" class="fa f-r" ng-class="{true: 'fa-star', false: 'fa-star-o'}[item.select]"></span>
        </p>
        <p class="text" ng-bind="item.date">
            <span ng-bind="item.date"></span>
        </p>
    </li>
</ul>