.position-info{
  padding:10px 15px;
  .fa{
    .fs(25);
    right:20px;
    top:50%;
    transform: translate(0,-50%);
    color:#feae11;
  }
}
.position-desc{
  h5{
    .fs(16);
    margin: 0;
    border-bottom:1px solid #ccc;
    padding-left: 15px;
    .h(40);
    .lh(40);
  }
  pre{
    padding-left: 15px;
    .lh(30);
  }
}
.bottom-btn{
  position: fixed;
  .h(45);
  background-color:@headBgColor;
  left: 0;
  right: 0;
  bottom:0;
  width: 100%;
  .fs(16)
}