<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- 描述 -->
    <meta name="description" content="新区循环经济服务平台"/>
    <!-- 关键词 -->
    <meta name="keywords" content="新区，经济，循环，平台"/>
  	<!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
	<title>执行情况</title>
	<!-- iconfont -->
	<link rel="stylesheet" href="/libs/Iconfont/iconfont.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="/style/introduce.css">
</head>
<body>
	<!--nav start-->
    <nav class=" navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="text-align: center;">
            	<h3>园区介绍</h3>
				<p>Park introduce</p>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="parkprofile.html">园区概况</a></li>
                <li><a href="keyprojects.html">重点项目</a></li>
                <li><a href="subsidies.html">中央财政补贴</a></li>
                <li><a href="achievements.html">主要成就</a></li>
                <li><a class="active" href="implementation.html">执行情况</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                	<a href="" style="color:#fff">
               			<span class="glyphicon glyphicon-arrow-left"></span>
               			<span>返回循环经济服务平台</span>
               		</a>
           		</li>
            </ul>
        </div>
    </nav>
	<!--nav end-->
	<div class="implementation-body container-fuild">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 implementation-title">
				<h2>承诺内容执行情况</h2>
				<p>Commitment to content the implementation</p>
			</div>
			<div class="col-md-8 col-md-offset-2 implementation-items">
				<div class="implementation-item col-md-4">
					<a href="javascript:;" style="color:#4f4f4f">
						<div class="item-top">
							<h2>承诺内容执行情况</h2>
							<p>Commitment to content the</p>
							<p>implementation</p>
						</div>
						<div class="item-bottom">
							<p><span class="iconfont icon-flag"></span></p>
							<h2>2012-2018</h2>
						</div>
					</a>
				</div>
				<div class="implementation-item col-md-4" style="background: #8fc31f;">
					<a href="javascript:;">
						<div class="item-top">
							<h2>循环化改造未来工作展望</h2>
							<p>Circulating fluidized transformation</p>
							<p>job prospect in the future</p>
						</div>
					</a>
					<ul class="item-list">
						<li>
							<a href="javascript:;" style="padding-right:10%">2018</a>
						</li>
						<li>
							<a href="javascript:;" style="padding-right:20%;">2017</a>
						</li>
						<li>
							<a href="javascript:;" style="padding-right:30%;">2016</a>
						</li>
						<li>
							<a href="javascript:;" style="padding-right:40%;">2015</a>
						</li>
						<li>
							<a href="javascript:;" style="padding-right:50%;">2014</a>
						</li>
					</ul>
				</div>
				<div class="implementation-item col-md-4" style="background-image: url(/images/implementation-01.jpg);">
					<h2>智慧光明</h2>
					<h2>智慧城市</h2>
				</div>
			</div>
		</div>
	</div>
<script src="/libs/jquery/jquery.min.js"></script>
<script>
	$(function(){
		$('.implementation-body').css('height',$(window).height()-60+'px');
	})
</script>
</body>
</html>