<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- 描述 -->
    <meta name="description" content="新区循环经济服务平台"/>
    <!-- 关键词 -->
    <meta name="keywords" content="新区，经济，循环，平台"/>
  	<!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
	<title>园区介绍</title>
	<!-- bootstrap -->
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="/style/introduce.css">
</head>
<body style="background:url(/images/introduce-bg.jpg)">

	<div class="container">
		<div class="row">
			<div class="park-introduce-logo">
				<img src="/images/introduce-logo.png" alt="">
			</div>
		</div>
	</div>
	<div class="container-filud introduce-nav">
		<div class="row">
			<div class="col-md-6 col-md-offset-2" style="padding: 0;">
				<div class="nav-item col-md-8" style="background-image:url(/images/park-profile-bg.jpg)">
					<a href="parkprofile.html">
						<h2>园区概况</h2>
						<p>Park profile</p>
					</a>
				</div>
				<div class="nav-item col-md-4" style="background-color: #ea68a2;">
					<a href="subsidies.html">
						<h2>中央财政补贴</h2>
						<p>The central government subsidies</p>
					</a>
				</div>
				<div class="nav-item col-md-8" style="background-image:url(/images/key-pro-bg.jpg);">
					<a href="keyprojects.html">
						<h2>重点项目</h2>
						<p>Key projects</p>				
					</a>
				</div>
				<div class="nav-item col-md-4" style="background: #f8b551;">
					<a href="javascript:;">
						<h2>主要成就</h2>
						<p>The main achievements</p>
					</a>
				</div>
			</div>
			<div class="nav-item zxqk col-md-2" style="height: 50vh;background:url(/images/about-bg.jpg)no-repeat">
				<a href="javascript:;">
					<h2>执行情况</h2>
					<p>About implementation</p>
				</a>
			</div>
		</div>
	</div>
</body>
</html>