<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- 描述 -->
    <meta name="description" content="新区循环经济服务平台"/>
    <!-- 关键词 -->
    <meta name="keywords" content="新区，经济，循环，平台"/>
  	<!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
	<title>园区概况</title>
	<!-- bootstrap -->
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="/style/introduce.css">
</head>
<body>
	<!--nav start-->
    <nav class=" navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="text-align: center;">
            	<h3>园区介绍</h3>
				<p>Park introduce</p>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li><a class="active" href="userlist.html">园区概况</a></li>
                <li><a href="keyprojects.html">重点项目</a></li>
                <li><a href="subsidies.html">中央财政补贴</a></li>
                <li><a href="achievements.html">主要成就</a></li>
                <li><a href="implementation.html">执行情况</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                	<a href="" style="color:#fff">
               			<span class="glyphicon glyphicon-arrow-left"></span>
               			<span>返回循环经济服务平台</span>
               		</a>
           		</li>
            </ul>
        </div>
    </nav>
	<!--nav end-->
	<div class="parkprofile-body">
		<div class="col-md-5" style="max-width: 406px">
			<div class="situation col-md-6 col-sm-6" style="background-image:url(/images/yqgk.jpg);">
				<a href="javascript:;">
					<h3>
						<p>园区</p>
						<p>概况</p>
					</h3>
				</a>
			</div>
			<div class="situation col-md-6 col-sm-6" style="background-image:url(/images/fzdw.jpg);">
				<a href="javascript:;">
					<h3>
						<p>发展</p>
						<p>定位</p>
					</h3>
				</a>
			</div>
			<div class="situation col-md-6 col-sm-6" style="background-image:url(/images/zyrw.jpg);">
				<a href="javascript:;">
					<h3>
						<p>主要</p>
						<p>任务</p>
					</h3>
				</a>
			</div>
			<div class="situation col-md-6 col-sm-6" style="background-image:url(/images/bzcs.jpg);">
				<a href="javascript:;">
					<h3>
						<p>保障</p>
						<p>措施</p>
					</h3>
				</a>
			</div>
			<div class="situation col-md-6 col-sm-6" style="background-image:url(/images/zdfc.jpg);">
				<a href="javascript:;">
					<h3>
						<p>重点</p>
						<p>扶持</p>
					</h3>
				</a>
			</div>
			<div class="situation col-md-6 col-sm-6" style="background-image:url(/images/qyzy.jpg);">
				<a href="javascript:;">
					<h3>
						<p>区域</p>
						<p>资源</p>
					</h3>
				</a>
			</div>
		</div>
	</div>
<script src="/libs/jquery/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
	$(function(){
		$('.parkprofile-body').css('height',$(window).height()-60+'px');
	})
</script>
</body>
</html>