<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script id="tpl" type="text/html">
        <% for (var i=0; i< data.length; i++) {  %>
            <div class="all">
                <h2><%= i+1 %>、<%= data[i].title %></h2>
                <p class="intro"><%= data[i].imtro %></p>
                <% for(var j=0; j< data[i].albums.length; j++)  { %>
                    <img src=<%=data[i].albums[j]%>>
                <% } %>
                <p>主料：<%= data[i].ingredients %></p>
                <p>辅料：<%= data[i].burden %></p>
                <div>
                    <% for(var k=0; k< data[i].steps.length; k++) { %>
                    <div>
                        <p><%= data[i].steps[k].step %></p>
                        <p><img src=<%=data[i].steps[k].img%>></p>
                    </div>
                    <% } %>
                </div>
            </div>
            <hr >
        <% } %>
    </script>

</head>
<body>
    <input type="text" id="txtSearch">
    <input type="button" id="btn" value="查找">
    <div class="menu" id="menu"></div>

<script src="jquery.js"></script>
<script src="template-native-debug.js"></script>
<script>
    $(function () {
        $('#btn').click(function () {
            var menu = $('#menu');
            menu.text('正在加载');
            var txt = $('#txtSearch').val();
            txt = encodeURIComponent(txt);
            var url = 'http://apis.juhe.cn/cook/query?key=3d052c29d7fbfdd61f4d852876bd9ed5&rn=10&pn=0&dtype=jsonp&menu=' + txt;
            $.ajax({
                type: 'get',
                url: url,
                dataType: 'jsonp',
                success: function (data) {
                    menu.text('');
                    if (data.resultcode != 200) {
                        menu.text('亲，没有查到对应菜谱')
                    }
                    var html = template('tpl', data.result);
                    menu.html(html);
                },
                erroe: function () {
                    menu.text('错误');
                }
            })
        });
    })
</script>
</body>
</html>