<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="template-native-debug.js"></script>
    <script src="jquery.js"></script>
    <script id="tpl" type="text/html">
        <h3><%=className %></h3>
        <ul>
            <% for(var i=0;i< students.length;i++){ %>
                <li><%=i+1 %>.<%= students[i] %></li>
            <% }%>
        </ul>
    </script>
    <script>
        var data= {
            className: "前端",
            students: ['刘备', '关羽', '张飞', '诸葛亮', '甄姬']
        };

        $(function () {
            var html=template("tpl",data);
            $('#demo').html(html);
        })
    </script>
</head>
<body>
    <div id="demo">

    </div>
</body>
</html>