<div class="login ta-c">
<div app-head-bar title="登陆"></div>
    <form class="d-b">
        <div class="form-line p-r">
            <span class="fa fa-user"></span>
            <input  validator="phone" ng-model="user.phone" class="d-ib pl-10" type="text" placeholder="输入手机号">
        </div>
        <div class="form-line p-r">
            <span class="fa fa-lock"></span>
            <input validator="password" ng-model="user.password" class="d-ib pl-10" type="password" placeholder="输入密码">
        </div>

        <button  class="login-btn mb-10 mt-10 fw-b" ng-click="login()">登陆</button>
        <button ui-sref="register" class="register-btn fw-b">注册</button>
    </form>
</div>