<div class="login register ta-c">
    <form class="d-b">
        <div class="form-line">
            <span class="fa fa-user"></span>
            <input class="d-ib pl-10" type="text" placeholder="输入手机号">
        </div>
        <div class="form-line">
            <span class="fa fa-lock"></span>
            <input class="d-ib pl-10" type="password" placeholder="输入密码">
        </div>
        <div class="message-box">
            <input class="message pl-10" type="text" placeholder="短信验证码">
            <button class="message-btn f-r">发送短信</button>
        </div>
        <button class="login-btn mb-10 mt-10 fw-b">登陆</button>
        <button class="register-btn fw-b">注册</button>
    </form>
</div>